<!-- Hero Start -->
<section class="bg-home d-flex align-items-center"
  style="background: url('assets/images/single/bg01.jpg') center center; height: auto;" id="home">
  <div class="bg-overlay bg-overlay-white"></div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-9 text-center mt-0 mt-md-5 pt-0 pt-md-5">
        <div class="title-heading margin-top-100">
          <h1 class="display-4 fw-bold mb-3">My Pet Tracker</h1>
          <p class="para-desc mx-auto text-muted">chaque jour, beaucoup d'animaux mignons sont perdus.
            Les propriétaires d'animaux font de leur mieux pour les trouver, mais seuls quelques-uns peuvent être trouvés. <span style="font: bold">My Pet Tracker</span> c'est que vous cherchez </p>
<!--
          <div class="watch-video mt-4 pt-2">
            <a (click)="openWindowCustomClass(content)" href="javascript:void(0);" data-type="youtube"
              data-id="yba7hPeTSjk" class="btn btn-icon btn-pills btn-primary m-1">
              <i-feather name="video" class="icons"></i-feather>
            </a><span class="fw-bold text-uppercase small align-middle ms-1">Watch Now</span>
            <ng-template #content let-modal>
              <div class="modal-header">
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <iframe src="https://player.vimeo.com/video/99025203" height="450" width="780" frameborder="0"
                  allowfullscreen allow="autoplay; encrypted-media"></iframe>
              </div>
            </ng-template>
          </div>
-->
        </div>

        <div class="home-dashboard">
          <img src="assets/images/trackpet/bracelet.png" alt="" class="img-fluid mover">
        </div>
      </div>
      <!--end col-->
    </div>
    <!--end row-->
  </div>
  <!--end container-->
</section>
<!--end section-->
<!-- Hero End -->

<!-- Feature Start -->
<section class="section bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-6 p-4 text-center">
        <img src="assets/images/icon/camera.svg" height="45" alt="">
        <h5 class="mt-2">Géofence</h5>
        <p class="text-muted mb-0">Dépassement de zone</p>
      </div>
      <!--end col-->

      <div class="col-md-3 col-6 p-4 text-center">
        <img src="assets/images/icon/speedometer.svg" height="45" alt="">
        <h5 class="mt-2">Choc Alarme</h5>
        <p class="text-muted mb-0">Alerte de détection de choc</p>
      </div>
      <!--end col-->

      <div class="col-md-3 col-6 p-4 text-center">
        <img src="assets/images/icon/low-battery.svg" height="45" alt="">
        <h5 class="mt-2">Batterie</h5>
        <p class="text-muted mb-0">Trés bonne autonomie</p>
      </div>
      <!--end col-->

      <div class="col-md-3 col-6 p-4 text-center">
        <img src="assets/images/icon/game.svg" height="45" alt="">
        <h5 class="mt-2">Alerte en temps réel</h5>
        <p class="text-muted mb-0">Notification push</p>
      </div>
      <!--end col-->
    </div>
    <!--end row-->
  </div>
  <!--end container-->

  <div class="container mt-100 mt-60">
    <div class="row align-items-center">
      <div class="col-lg-6 col-md-6">
        <img src="assets/images/trackpet/media0.jpg"  style="height: 100% !important;object-fit: cover; width: 100%" alt="">
      </div>
      <!--end col-->

      <div class="col-lg-6 col-md-6 mt-4 mt-sm-0 pt-2 pt-sm-0">
        <div class="section-title ms-lg-3">
          <h4 class="title mb-4">Conçu pour vos animaux de campagnie
          </h4>
          <p><b>Surface anti-accroc</b></p>
          <p class="text-muted">Sans espace entre le traceur et le collier,
            votre chat ne risque pas de rester accroché ou coincé quelque part.</p>
          <p><b>Facile à attacher
          </b></p>
          <p class="text-muted">L'attache a été conçue de sorte que le traceur puisse être
            mis sûrement et facilement sur tout collier.</p>
          <p><b>Forme ergonomique, Tissue Ecologique</b></p>
          <p class="text-muted">Le traceur pour vos animaux  est légèrement concave, de sorte qu'il s'adapte confortablement au cou de votre animal domestique.
            De plus le tissue de colier est écologique 100%.</p>

          <a href="javascript:void(0)" class="mt-3 text-primary">Savoir plus <i class="mdi mdi-chevron-right"></i></a>
        </div>
      </div>
      <!--end col-->
    </div>
    <!--end row-->
  </div>
  <!--end container-->
</section>

<div class="container mt-100 mt-60">
  <div class="row align-items-center">
    <div class="col-md-6">
      <div class="me-lg-5">
        <img src="assets/images/trackpet/media1.jpg" class="img-fluid" alt="">
      </div>
    </div>
    <!--end col-->

    <div class="col-md-6 mt-4 pt-2 mt-sm-0 pt-sm-0">
      <div class="section-title">
        <h4 class="title mb-4">Ne perdez plus jamais votre  <br> animal de compagnie</h4>
        <ul class="list-unstyled text-muted">
          <li class="mb-0"><span class="text-primary h5 me-2"><i
                  class="uil uil-check-circle align-middle"></i></span> <b>LIVE TRACKING : </b>Pour suivre votre chat à la trace, activez le mode LIVE et sa localisation sera mise à jour toutes les 2 à 3 secondes.</li>
          <li class="mb-0"><span class="text-primary h5 me-2"><i
                  class="uil uil-check-circle align-middle"></i></span> <b>Clôture virtuelle : </b>Définissez des zones sûres, comme votre jardin, et des zones interdites, comme le jardin des voisins. Vous recevrez une alerte lorsque votre chat en sort ou y entre.</li>
        </ul>
        <a href="javascript:void(0)" class="mt-3 h6 text-primary">Afficher plus <i
                class="uil uil-angle-right-b"></i></a>
      </div>
    </div>
    <!--end col-->
  </div>
  <!--end row-->
</div>
<!--end container-->

<div class="container mt-100 mt-60">
  <div class="row align-items-center">
    <div class="col-md-6 order-1 order-md-2">
      <div class="ms-lg-5">
        <img src="assets/images/trackpet/media2.jpg" class="img-fluid" alt="">
      </div>
    </div>
    <!--end col-->

    <div class="col-md-6 order-2 order-md-1 mt-4 pt-2 mt-sm-0 pt-sm-0">
      <div class="section-title">
        <h4 class="title mb-4">Restez sur la trace <br> de votre  animal de compagnie</h4>
        <p><b>Historique de localisation et heatmap
        </b></p>
        <p class="text-muted">Voulez-vous connaître la vie secrète de votre chat ? Suivez-le au cours de ses aventures,
          découvrez ses coins favoris et ses cachettes secrètes.</p>
        <p><b>Suivi d'activité
        </b></p>
        <p class="text-muted">Surveillez les temps de repos et d'activité de votre chat et
          comparez son activité à celle de ses congénères autour de chez vous et partout au monde.</p>
        <div class="mt-4">
          <a href="javascript:void(0)" class="btn btn-pills btn-soft-primary">Savoir plus</a>
        </div>
      </div>
    </div>
    <!--end col-->
  </div>
  <!--end row-->
</div>
<!--end section-->
<!-- Feature End -->

<!-- Description Start -->
<!--<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <img src="assets/images/single/drone.gif" class="img-fluid" alt="">
      </div>
      &lt;!&ndash;end col&ndash;&gt;
    </div>
    &lt;!&ndash;end row&ndash;&gt;

    <div class="row">
      <div class="col-12 text-center">
        <div class="section-title mb-4 pb-2">
          <h4 class="title mb-4">Awesome Features</h4>
          <p class="text-muted para-desc mx-auto mb-0">Start working with <span
              class="text-primary fw-bold">Landrick</span> that can provide everything you need to generate awareness,
            drive traffic, connect.</p>
        </div>
      </div>
      &lt;!&ndash;end col&ndash;&gt;
    </div>
    &lt;!&ndash;end row&ndash;&gt;

    <div class="row">
      <div class="col-lg-4 col-md-6 mt-4 pt-2">
        <div class="d-flex key-feature align-items-center p-3 rounded shadow">
          <div class="icon text-center rounded-circle me-3">
            <i-feather name="camera" class="fea icon-ex-md text-primary"></i-feather>
          </div>
          <div class="flex-1">
            <h4 class="title mb-0">48mp Camera</h4>
          </div>
        </div>
      </div>
      &lt;!&ndash;end col&ndash;&gt;

      <div class="col-lg-4 col-md-6 mt-4 pt-2">
        <div class="d-flex key-feature align-items-center p-3 rounded shadow">
          <div class="icon text-center rounded-circle me-3">
            <i-feather name="wifi" class="fea icon-ex-md text-primary"></i-feather>
          </div>
          <div class="flex-1">
            <h4 class="title mb-0">Faster Connection</h4>
          </div>
        </div>
      </div>
      &lt;!&ndash;end col&ndash;&gt;

      <div class="col-lg-4 col-md-6 mt-4 pt-2">
        <div class="d-flex key-feature align-items-center p-3 rounded shadow">
          <div class="icon text-center rounded-circle me-3">
            <i-feather name="eye" class="fea icon-ex-md text-primary"></i-feather>
          </div>
          <div class="flex-1">
            <h4 class="title mb-0">Easy to Operate</h4>
          </div>
        </div>
      </div>
      &lt;!&ndash;end col&ndash;&gt;

      <div class="col-lg-4 col-md-6 mt-4 pt-2">
        <div class="d-flex key-feature align-items-center p-3 rounded shadow">
          <div class="icon text-center rounded-circle me-3">
            <i-feather name="video" class="fea icon-ex-md text-primary"></i-feather>
          </div>
          <div class="flex-1">
            <h4 class="title mb-0">Stable Video</h4>
          </div>
        </div>
      </div>
      &lt;!&ndash;end col&ndash;&gt;

      <div class="col-lg-4 col-md-6 mt-4 pt-2">
        <div class="d-flex key-feature align-items-center p-3 rounded shadow">
          <div class="icon text-center rounded-circle me-3">
            <i-feather name="rss" class="fea icon-ex-md text-primary"></i-feather>
          </div>
          <div class="flex-1">
            <h4 class="title mb-0">Powerful Antenna</h4>
          </div>
        </div>
      </div>
      &lt;!&ndash;end col&ndash;&gt;

      <div class="col-lg-4 col-md-6 mt-4 pt-2">
        <div class="d-flex key-feature align-items-center p-3 rounded shadow">
          <div class="icon text-center rounded-circle me-3">
            <i-feather name="battery" class="fea icon-ex-md text-primary"></i-feather>
          </div>
          <div class="flex-1">
            <h4 class="title mb-0">Battery Backup</h4>
          </div>
        </div>
      </div>
      &lt;!&ndash;end col&ndash;&gt;

      <div class="col-lg-4 col-md-6 mt-4 pt-2">
        <div class="d-flex key-feature align-items-center p-3 rounded shadow">
          <div class="icon text-center rounded-circle me-3">
            <i-feather name="cpu" class="fea icon-ex-md text-primary"></i-feather>
          </div>
          <div class="flex-1">
            <h4 class="title mb-0">Advance Technology</h4>
          </div>
        </div>
      </div>
      &lt;!&ndash;end col&ndash;&gt;

      <div class="col-lg-4 col-md-6 mt-4 pt-2">
        <div class="d-flex key-feature align-items-center p-3 rounded shadow">
          <div class="icon text-center rounded-circle me-3">
            <i-feather name="compass" class="fea icon-ex-md text-primary"></i-feather>
          </div>
          <div class="flex-1">
            <h4 class="title mb-0">Easy Disassembly</h4>
          </div>
        </div>
      </div>
      &lt;!&ndash;end col&ndash;&gt;

      <div class="col-lg-4 col-md-6 mt-4 pt-2">
        <div class="d-flex key-feature align-items-center p-3 rounded shadow">
          <div class="icon text-center rounded-circle me-3">
            <i-feather name="git-merge" class="fea icon-ex-md text-primary"></i-feather>
          </div>
          <div class="flex-1">
            <h4 class="title mb-0">Rebust Structure</h4>
          </div>
        </div>
      </div>
      &lt;!&ndash;end col&ndash;&gt;
    </div>
    &lt;!&ndash;end row&ndash;&gt;
  </div>
  &lt;!&ndash;end container&ndash;&gt;

  <div class="container mt-100 mt-60">
    <div class="row justify-content-center">
      <div class="col-md-7">
        <div class="position-relative">
          <img src="assets/images/single/bg02.jpg" class="rounded img-fluid mx-auto d-block" alt="">
          <div class="play-icon">
            <a (click)="openWindowCustomClass(content)" href="javascript:void(0);" data-type="youtube"
              data-id="yba7hPeTSjk" class="play-btn shadow">
              <i class="mdi mdi-play text-primary rounded-circle bg-white shadow"></i>
            </a>
            <ng-template #content let-modal>
              <div class="modal-header">
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <iframe src="https://player.vimeo.com/video/99025203" height="450" width="780" frameborder="0"
                  allowfullscreen allow="autoplay; encrypted-media"></iframe>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
      &lt;!&ndash;end col&ndash;&gt;
    </div>
    &lt;!&ndash;end row&ndash;&gt;
  </div>
  &lt;!&ndash;end container&ndash;&gt;
</section>-->
<!--end section-->
<!-- Description End -->

<!-- Testimonial Start -->
<section class="section bg-light">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 text-center">
        <div class="section-title mb-4 pb-2">
          <h4 class="title mb-4">Découvrer notre nouveau produit  <b>Croquettes sans céréales</b></h4>
          <div class="row">
            <div class="col-6 d-flex align-content-center h-100">
              <div class="d-flex align-content-center mt-4">
                <p class="text-muted para-desc mx-auto mb-0">Formule hypoallergénique, sans céréales pour chiens de races Mini en surpoids ou stérilisés.  Aliment complet pour chiens

                  Composition:

                  farine de viande de lapin (25 %), protéines de saumon frais (15 %), pois jaunes, pois chiches, lignocellulose de bambou, pommes séchées, sarrasin, graine de lin (4 %), graisse de poulet (conservée par des tocophérols), huile de saumon (2 %), enveloppes et graines de psyllium (1 %), levure de bière, algues (0,5 %, Ascophyllum nodosum), chlorure de sodium, coquilles de crustacés hydrolysées (source de glucosamine, 260 mg/kg), myrtilles (230 mg/kg, source de polyphénols 70 mg/kg & flavonoïdes 30 mg/kg), extrait de cartilage (source de chondroïtine, 160 mg/kg)...</p>
              </div>

            </div>
            <div class="col-6">
              <img src="assets/images/trackpet/sans-ceriale.jpeg" class="img-fluid" alt="">
            </div>
          </div>
        </div>
      </div>
      <!--end col-->
    </div>
    <!--end row-->

    <!--end row-->
  </div>
  <!--end container-->

  <!--end container-->
</section>
<section class="section bg-light">
  <div class="container">
    <div class="row">
      <div class="row justify-content-center">
        <div class="col-12 text-center">
          <div class="section-title mb-4 pb-2">
            <h4 class="title mb-4">Nos Produits</h4>
          </div>
        </div>
        <!--end col-->
      </div>
      <div class=" col-12 mt-5 pt-2 mt-sm-0 pt-sm-0">
        <!--end row-->

        <div class="row">
          <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
            <div class="card shop-list border-0 position-relative">
              <ul class="label list-unstyled mb-0">
                <li><a href="javascript:void(0)" class="badge badge-link rounded-pill bg-success">Featured</a></li>
              </ul>
              <div class="shop-image position-relative overflow-hidden rounded shadow">
                <a routerLink="/shop-product-detail"><img src="assets/images/trackpet/shop1.png" class="img-fluid"
                                                          alt=""></a>
                <a routerLink="/shop-product-detail" class="overlay-work">
                  <img src="assets/images/trackpet/shop1.png" class="img-fluid" alt="">
                </a>
                <ul class="list-unstyled shop-icons">
                  <li><a href="javascript:void(0)" class="btn btn-icon btn-pills btn-soft-danger">
                    <i-feather name="heart" class="icons"></i-feather>
                  </a></li>
                  <li class="mt-2"><a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#productview"
                                      class="btn btn-icon btn-pills btn-soft-primary">
                    <i-feather name="eye" class="icons"></i-feather>
                  </a></li>
                  <li class="mt-2"><a routerLink="/shop-cart" class="btn btn-icon btn-pills btn-soft-warning">
                    <i-feather name="shopping-cart" class="icons"></i-feather>
                  </a></li>
                </ul>
              </div>
              <div class="card-body content pt-4 p-2">
                <a routerLink="/shop-product-detail" class="text-dark product-name h6">Collier jaune pour chats</a>
                <div class="d-flex justify-content-between mt-1">
                  <h6 class="text-muted small fst-italic mb-0 mt-1">€16.00 <del class="text-danger ms-2">€21.00</del>
                  </h6>
                  <ul class="list-unstyled text-warning mb-0">
                    <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                    <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                    <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                    <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                    <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!--end col-->

          <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
            <div class="card shop-list border-0 position-relative">
              <div class="shop-image position-relative overflow-hidden rounded shadow">
                <a routerLink="/shop-product-detail"><img src="assets/images/trackpet/shop2.png" class="img-fluid"
                                                          alt=""></a>
                <div class="overlay-work">
                  <div class="py-2 bg-soft-dark rounded-bottom out-stock">
                    <h6 class="mb-0 text-center">Out of stock</h6>
                  </div>
                </div>
              </div>
              <div class="card-body content pt-4 p-2">
                <a routerLink="/shop-product-detail" class="text-dark product-name h6">Collier pour chats (noir)</a>
                <div class="d-flex justify-content-between mt-1">
                  <h6 class="text-muted small fst-italic mb-0 mt-1">€21.00 <del class="text-danger ms-2">€25.00</del>
                  </h6>
                  <ul class="list-unstyled text-warning mb-0">
                    <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                    <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                    <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                    <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                    <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!--end col-->

          <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
            <div class="card shop-list border-0 position-relative">
              <div class="shop-image position-relative overflow-hidden rounded shadow">
                <a routerLink="/shop-product-detail"><img src="assets/images/trackpet/shop3.png" class="img-fluid"
                                                          alt=""></a>
                <a routerLink="/shop-product-detail" class="overlay-work">
                  <img src="assets/images/shop/trackpet/shop3.png" class="img-fluid" alt="">
                </a>
                <ul class="list-unstyled shop-icons">
                  <li><a href="javascript:void(0)" class="btn btn-icon btn-pills btn-soft-danger">
                    <i-feather name="heart" class="icons"></i-feather>
                  </a></li>
                  <li class="mt-2"><a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#productview"
                                      class="btn btn-icon btn-pills btn-soft-primary">
                    <i-feather name="eye" class="icons"></i-feather>
                  </a></li>
                  <li class="mt-2"><a routerLink="/shop-cart" class="btn btn-icon btn-pills btn-soft-warning">
                    <i-feather name="shopping-cart" class="icons"></i-feather>
                  </a></li>
                </ul>
              </div>
              <div class="card-body content pt-4 p-2">
                <a routerLink="/shop-product-detail" class="text-dark product-name h6">Collier pour chats (rose)</a>
                <div class="d-flex justify-content-between mt-1">
                  <h6 class="text-muted small fst-italic mb-0 mt-1">€5.00 <span class="text-success ms-1">30% off</span>
                  </h6>
                  <ul class="list-unstyled text-warning mb-0">
                    <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                    <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                    <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                    <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                    <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!--end col-->

          <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
            <div class="card shop-list border-0 position-relative">
              <div class="shop-image position-relative overflow-hidden rounded shadow">
                <a routerLink="/shop-product-detail"><img src="assets/images/trackpet/shop4.png" class="img-fluid"
                                                          alt=""></a>
                <a routerLink="/shop-product-detail" class="overlay-work">
                  <img src="assets/images/trackpet/shop4.png" class="img-fluid" alt="">
                </a>
                <ul class="list-unstyled shop-icons">
                  <li><a href="javascript:void(0)" class="btn btn-icon btn-pills btn-soft-danger">
                    <i-feather name="heart" class="icons"></i-feather>
                  </a></li>
                  <li class="mt-2"><a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#productview"
                                      class="btn btn-icon btn-pills btn-soft-primary">
                    <i-feather name="eye" class="icons"></i-feather>
                  </a></li>
                  <li class="mt-2"><a routerLink="/shop-cart" class="btn btn-icon btn-pills btn-soft-warning">
                    <i-feather name="shopping-cart" class="icons"></i-feather>
                  </a></li>
                </ul>
              </div>
              <div class="card-body content pt-4 p-2">
                <a routerLink="/shop-product-detail" class="text-dark product-name h6">Cable usb de recharge</a>
                <div class="d-flex justify-content-between mt-1">
                  <h6 class="text-muted small fst-italic mb-0 mt-1">€8.00 <del class="text-danger ms-2">€15.00</del>
                  </h6>
                  <ul class="list-unstyled text-warning mb-0">
                    <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                    <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                    <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                    <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                    <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!--end col-->

          <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
            <div class="card shop-list border-0 position-relative">
              <ul class="label list-unstyled mb-0">
                <li><a href="javascript:void(0)" class="badge badge-link rounded-pill bg-warning">Sale</a></li>
              </ul>
              <div class="shop-image position-relative overflow-hidden rounded shadow">
                <a routerLink="/shop-product-detail"><img src="assets/images/trackpet/shop5.png" class="img-fluid"
                                                          alt=""></a>
                <a routerLink="/shop-product-detail" class="overlay-work">
                  <img src="assets/images/trackpet/shop5.png" class="img-fluid" alt="">
                </a>
                <ul class="list-unstyled shop-icons">
                  <li><a href="javascript:void(0)" class="btn btn-icon btn-pills btn-soft-danger">
                    <i-feather name="heart" class="icons"></i-feather>
                  </a></li>
                  <li class="mt-2"><a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#productview"
                                      class="btn btn-icon btn-pills btn-soft-primary">
                    <i-feather name="eye" class="icons"></i-feather>
                  </a></li>
                  <li class="mt-2"><a routerLink="/shop-cart" class="btn btn-icon btn-pills btn-soft-warning">
                    <i-feather name="shopping-cart" class="icons"></i-feather>
                  </a></li>
                </ul>
              </div>
              <div class="card-body content pt-4 p-2">
                <a routerLink="/shop-product-detail" class="text-dark product-name h6">Adaptateur & cable de recharge</a>
                <div class="d-flex justify-content-between mt-1">
                  <h6 class="text-muted small fst-italic mb-0 mt-1">€15.00</h6>
                  <ul class="list-unstyled text-warning mb-0">
                    <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                    <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                    <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                    <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                    <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!--end col-->

          <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
            <div class="card shop-list border-0 position-relative">
              <ul class="label list-unstyled mb-0">
                <li><a href="javascript:void(0)" class="badge badge-link rounded-pill bg-primary">New</a></li>
                <li><a href="javascript:void(0)" class="badge badge-link rounded-pill bg-success">Featured</a></li>
                <li><a href="javascript:void(0)" class="badge badge-link rounded-pill bg-warning">Sale</a></li>
              </ul>
              <div class="shop-image position-relative overflow-hidden rounded shadow">
                <a routerLink="/shop-product-detail"><img src="assets/images/trackpet/shop6.png" class="img-fluid"
                                                          alt=""></a>
                <div class="overlay-work">
                  <div class="py-2 bg-soft-dark rounded-bottom out-stock">
                    <h6 class="mb-0 text-center">Out of stock</h6>
                  </div>
                </div>
              </div>
              <div class="card-body content pt-4 p-2">
                <a routerLink="/shop-product-detail" class="text-dark product-name h6">Attache au collier</a>
                <div class="d-flex justify-content-between mt-1">
                  <h6 class="text-muted small fst-italic mb-0 mt-1">€15.50 <del class="text-danger ms-2">€10.50</del>
                  </h6>
                  <ul class="list-unstyled text-warning mb-0">
                    <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                    <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                    <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                    <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                    <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!--end col-->

          <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
            <div class="card shop-list border-0 position-relative">
              <div class="shop-image position-relative overflow-hidden rounded shadow">
                <a routerLink="/shop-product-detail"><img src="assets/images/trackpet/corck1.jpeg" class="img-fluid"
                                                          alt=""></a>
                <a routerLink="/shop-product-detail" class="overlay-work">
                  <img src="assets/images/trackpet/corck1.jpeg" class="img-fluid" alt="">
                </a>
                <ul class="list-unstyled shop-icons">
                  <li><a href="javascript:void(0)" class="btn btn-icon btn-pills btn-soft-danger">
                    <i-feather name="heart" class="icons"></i-feather>
                  </a></li>
                  <li class="mt-2"><a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#productview"
                                      class="btn btn-icon btn-pills btn-soft-primary">
                    <i-feather name="eye" class="icons"></i-feather>
                  </a></li>
                  <li class="mt-2"><a routerLink="/shop-cart" class="btn btn-icon btn-pills btn-soft-warning">
                    <i-feather name="shopping-cart" class="icons"></i-feather>
                  </a></li>
                </ul>
              </div>
              <div class="card-body content pt-4 p-2">
                <a routerLink="/shop-product-detail" class="text-dark product-name h6">Croquette à la dinde et aux Légumes</a>
                <div class="d-flex justify-content-between mt-1">
                  <h6 class="text-muted small fst-italic mb-0 mt-1">€9.99 <span class="text-success ms-2">20% off</span>
                  </h6>
                  <ul class="list-unstyled text-warning mb-0">
                    <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                    <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                    <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                    <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                    <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!--end col-->

          <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
            <div class="card shop-list border-0 position-relative">
              <ul class="label list-unstyled mb-0">
                <li><a href="javascript:void(0)" class="badge badge-link rounded-pill bg-primary">New</a></li>
                <li><a href="javascript:void(0)" class="badge badge-link rounded-pill bg-success">Featured</a></li>
                <li><a href="javascript:void(0)" class="badge badge-link rounded-pill bg-warning">Sale</a></li>
              </ul>
              <div class="shop-image position-relative overflow-hidden rounded shadow">
                <a routerLink="/shop-product-detail"><img src="assets/images/trackpet/crock2.jpeg" class="img-fluid"
                                                          alt=""></a>
                <a routerLink="/shop-product-detail" class="overlay-work">
                  <img src="assets/images/trackpet/crock2.jpeg" class="img-fluid" alt="">
                </a>
                <ul class="list-unstyled shop-icons">
                  <li><a href="javascript:void(0)" class="btn btn-icon btn-pills btn-soft-danger">
                    <i-feather name="heart" class="icons"></i-feather>
                  </a></li>
                  <li class="mt-2"><a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#productview"
                                      class="btn btn-icon btn-pills btn-soft-primary">
                    <i-feather name="eye" class="icons"></i-feather>
                  </a></li>
                  <li class="mt-2"><a routerLink="/shop-cart" class="btn btn-icon btn-pills btn-soft-warning">
                    <i-feather name="shopping-cart" class="icons"></i-feather>
                  </a></li>
                </ul>
              </div>
              <div class="card-body content pt-4 p-2">
                <a routerLink="/shop-product-detail" class="text-dark product-name h6">Croquettes chien 80% canard</a>
                <div class="d-flex justify-content-between mt-1">
                  <h6 class="text-muted small fst-italic mb-0 mt-1">€22.00 <del class="text-danger ms-2">€25.00</del>
                  </h6>
                  <ul class="list-unstyled text-warning mb-0">
                    <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                    <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                    <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                    <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                    <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!--end col-->

          <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
            <div class="card shop-list border-0 position-relative">
              <ul class="label list-unstyled mb-0">
                <li><a href="javascript:void(0)" class="badge badge-link rounded-pill bg-success">Featured</a></li>
              </ul>
              <div class="shop-image position-relative overflow-hidden rounded shadow">
                <a routerLink="/shop-product-detail"><img src="assets/images/trackpet/champ.jpeg" class="img-fluid"
                                                          alt=""></a>
                <a routerLink="/shop-product-detail" class="overlay-work">
                  <img src="assets/images/shop/trackpet/champ.jpeg" class="img-fluid" alt="">
                </a>
                <ul class="list-unstyled shop-icons">
                  <li><a href="javascript:void(0)" class="btn btn-icon btn-pills btn-soft-danger">
                    <i-feather name="heart" class="icons"></i-feather>
                  </a></li>
                  <li class="mt-2"><a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#productview"
                                      class="btn btn-icon btn-pills btn-soft-primary">
                    <i-feather name="eye" class="icons"></i-feather>
                  </a></li>
                  <li class="mt-2"><a routerLink="/shop-cart" class="btn btn-icon btn-pills btn-soft-warning">
                    <i-feather name="shopping-cart" class="icons"></i-feather>
                  </a></li>
                </ul>
              </div>
              <div class="card-body content pt-4 p-2">
                <a routerLink="/shop-product-detail" class="text-dark product-name h6">shompoing chat</a>
                <div class="d-flex justify-content-between mt-1">
                  <h6 class="text-muted small fst-italic mb-0 mt-1">€11.00 <del class="text-danger ms-2">€21.00</del>
                  </h6>
                  <ul class="list-unstyled text-warning mb-0">
                    <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                    <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                    <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                    <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                    <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!--end col-->

          <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
            <div class="card shop-list border-0 position-relative">
              <ul class="label list-unstyled mb-0">
                <li><a href="javascript:void(0)" class="badge badge-link rounded-pill bg-primary">New</a></li>
              </ul>
              <div class="shop-image position-relative overflow-hidden rounded shadow">
                <a routerLink="/shop-product-detail"><img src="assets/images/trackpet/rol.jpeg" class="img-fluid"
                                                          alt=""></a>
                <div class="overlay-work">
                  <div class="py-2 bg-soft-dark rounded-bottom out-stock">
                    <h6 class="mb-0 text-center">Out of stock</h6>
                  </div>
                </div>
              </div>
              <div class="card-body content pt-4 p-2">
                <a routerLink="/shop-product-detail" class="text-dark product-name h6">Sunglasses</a>
                <div class="d-flex justify-content-between mt-1">
                  <h6 class="text-muted small fst-italic mb-0 mt-1">€11.00 <del class="text-danger ms-2">€15.00</del>
                  </h6>
                  <ul class="list-unstyled text-warning mb-0">
                    <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                    <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                    <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                    <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                    <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!--end col-->

          <!--end col-->

          <!-- PAGINATION START -->
          <div class="col-12 mt-4 pt-2">
            <ul class="pagination justify-content-center mb-0">
              <li class="page-item"><a class="page-link" href="javascript:void(0)" aria-label="Previous"><i
                      class="mdi mdi-arrow-left"></i> Prev</a></li>
              <li class="page-item active"><a class="page-link" href="javascript:void(0)">1</a></li>
              <li class="page-item"><a class="page-link" href="javascript:void(0)">2</a></li>
              <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
              <li class="page-item"><a class="page-link" href="javascript:void(0)" aria-label="Next">Next <i
                      class="mdi mdi-arrow-right"></i></a></li>
            </ul>
          </div>
          <!--end col-->
          <!-- PAGINATION END -->
        </div>
        <!--end row-->
      </div>

    </div>
  </div>
</section>
<section class="section bg-light">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <div class="section-title mb-4 pb-2">
          <h4 class="title mb-4">Avis des clients</h4>

        </div>
      </div>
      <!--end col-->
    </div>
    <!--end row-->

    <div class="row justify-content-center">
      <div class="col-lg-12 pt-2 mt-2 text-center">
        <owl-carousel-o id="customer-testi" [options]="customOptions">
          <ng-template carouselSlide>
            <div class="card customer-testi m-2 text-center rounded shadow border-0">
              <div class="card-body">
                <p class="text-muted h6 fst-italic">"j'aime beaucoup ce produit  "</p>
                <img src="assets/images/client/01.jpg"
                  class="img-fluid avatar avatar-small mt-3 rounded-circle mx-auto shadow" alt="">
                <ul class="list-unstyled mb-0 mt-3">
                  <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
                  <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
                  <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
                  <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
                  <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
                </ul>
                <h6 class="text-primary">- Thomas </h6>
              </div>
            </div>
            <!--end customer testi-->
          </ng-template>
          <ng-template carouselSlide>
            <div class="card customer-testi m-2 text-center rounded shadow border-0">
              <div class="card-body">
                <p class="text-muted h6 fst-italic">"l'autonomie de batterie  de tracker est agréable! ça prend une semaine pour se décharger completement"</p>
                <img src="assets/images/client/02.jpg"
                  class="img-fluid avatar avatar-small mt-3 rounded-circle mx-auto shadow" alt="">
                <ul class="list-unstyled mb-0 mt-3">
                  <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
                  <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
                  <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
                  <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
                  <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
                </ul>
                <h6 class="text-primary">- Carl Oliver</h6>
              </div>
            </div>
            <!--end customer testi-->
          </ng-template>
          <ng-template carouselSlide>
            <div class="card customer-testi m-2 text-center rounded shadow border-0">
              <div class="card-body">
                <p class="text-muted h6 fst-italic">" Mes chiens adorent les nouvelles croquettes. "</p>
                <img src="assets/images/client/03.jpg"
                  class="img-fluid avatar avatar-small mt-3 rounded-circle mx-auto shadow" alt="">
                <ul class="list-unstyled mb-0 mt-3">
                  <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
                  <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
                  <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
                  <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
                  <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
                </ul>
                <h6 class="text-primary">- Barbara McIntosh <small class="text-muted">M.D</small></h6>
              </div>
            </div>
            <!--end customer testi-->
          </ng-template>
          <ng-template carouselSlide>
            <div class="card customer-testi m-2 text-center rounded shadow border-0">
              <div class="card-body">
                <p class="text-muted h6 fst-italic">"Produit magnifique"</p>
                <img src="assets/images/client/04.jpg"
                  class="img-fluid avatar avatar-small mt-3 rounded-circle mx-auto shadow" alt="">
                <ul class="list-unstyled mb-0 mt-3">
                  <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
                  <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
                  <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
                  <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
                  <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
                </ul>
                <h6 class="text-primary">- Christa Smith </h6>
              </div>
            </div>
            <!--end customer testi-->
          </ng-template>
          <ng-template carouselSlide>
            <div class="card customer-testi m-2 text-center rounded shadow border-0">
              <div class="card-body">
                <p class="text-muted h6 fst-italic">" J'ai perdu mon chat, c'est grace à My Pet Tracker que je l'ai trouvé. "</p>
                <img src="assets/images/client/05.jpg"
                  class="img-fluid avatar avatar-small mt-3 rounded-circle mx-auto shadow" alt="">
                <ul class="list-unstyled mb-0 mt-3">
                  <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
                  <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
                  <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
                  <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
                  <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
                </ul>
                <h6 class="text-primary">- Dean Tolle</h6>
              </div>
            </div>
            <!--end customer testi-->
          </ng-template>
        </owl-carousel-o>
        <!-- </div> -->
      </div>
      <!--end col-->
    </div>
    <!--end row-->
  </div>
  <!--end container-->

  <!-- Partners start -->

  <!--end container-->
</section>
<!--end section-->
<!-- Testimonial End -->

<!-- Gallery Start -->
<section class="section">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6">
      </div>
      <!--end col-->

      <!--end col-->
    </div>
    <!--end row-->
  </div>
  <!--end container-->

  <div class="container mt-100 mt-60">
    <div class="row justify-content-center">
      <div class="col-12 text-center">
        <div class="section-title mb-4 pb-2">
          <h4 class="title mb-4">S'inscrire dans notre Newsletter</h4>
        </div>
      </div>
      <!--end col-->
    </div>
    <!--end row-->

    <div class="row justify-content-center mt-4 pt-2">
      <div class="col-lg-7 col-md-10">
        <div class="text-center subcribe-form mt-4 pt-2">
          <form>
            <input name="email" id="email" type="email" class="form-control rounded-pill border"
              placeholder="Your email :" required aria-describedby="newssubscribebtn">
            <button class="btn btn-pills btn-primary submitBnt" type="submit" id="newssubscribebtn">Subscribe</button>
          </form>
          <!--end form-->
        </div>
      </div>
      <!--end col-->
    </div>
    <!--end row-->
  </div>
  <!--END container-->
</section>
<!--end section-->
<!-- Gallery End -->

<!-- Back to top -->
<a href="javascript: void(0);" class="btn btn-icon btn-primary back-to-top" id="back-to-top" [ngxScrollTo]="'#home'">
  <i-feather name="arrow-up" class="icons"></i-feather>
</a>
<!-- Back to top -->
